@import 'variables';
@import 'intro';

@import 'work';

#main-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  position: relative;
}

.title {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.circle {
  border: 2px solid;
  border-radius: 50%;
  overflow: hidden;
  height: $circle-image-size;
  width: $circle-image-size;

  img {
    width: 100%;
    height: 100%;
  }
}


/* Projects */

.project {
  padding: 15px 0;
  display: flex;
  
  .info {
    width: 60%;
  }

  .carousel {
    width: 40%;
    display: flex;
  
    .slide-container {
      width: 250px;
      overflow: hidden;
      padding: 0;
    }

    .slider {
      width: 250px;
      display: flex;
      img:first-child {
        margin-left: -250px
      }
    }

    button {
      background: lighten(green, 7);
      border: none;
      padding: 0;
      width: 30px;
      text-align: center;
      font-size: 30px;
    }
  }
}