$greeting-card-height: 400px;
$greeting-card-drop-duration: 1s;
$greeting-card-bottom-height: calc(50vh - #{$greeting-card-height} / 2);
$intro-color: #333333;
$work-color: #FFFFFF;

$circle-image-size: 150px;